.App {
  width: 350px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 50px;
  border: 2px solid black;
  padding: 8px;
}

.btn-board {
width: 50px;
height: 50px;
background: #ccc;
margin: 3px;
}

.btn-reset{
  margin: auto 20px;
  width: 100px;
  font-size: 20px;
  background-color: cornflowerblue;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.disabled{
  background-color: transparent;
  border: none;
}

.showRing{
  border-radius: 50%;
  border: 4px solid gold;
  background-color: transparent;
}